/* banner styling */
#banner {
  background-color: #223C50;
  color: white;
  height: 67vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

#banner h1 {
  font-size: 60px;
  font-weight: bold;
}

#banner p {
  font-size: 27px;
  font-weight: bold;
}

#banner button {
  background-color: #223C50;
  color: white;
  border: 3px solid white;
  padding: 12px;
  font-weight: bolder;
}

#banner button:hover {
  color: lightgrey;
}

#banner #text {
  margin: 4%;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner-pic {
  width: 45vw;
}

/* body styling */

